{% extends 'home/base.html' %}
{% block content %}
<h5>Contact Us: </h5>
<div>
    <div>
        <i class="material-icons">email</i> kadapallanithin@gmail.com <br />
        <i class="material-icons" style="color: white;background-color: green; border:5px solid green; border-radius: 20px;">phone</i> +91 9666962037
    </div>
    <div>
        <i class="material-icons" style="color: blue;">place</i> D-No. 2-108,<br /> Kadapalla Nithin Kumar,<br />Kurthi, Pitlam, Kamareddy,<br /> Telangana State, India - 503187.
    </div>
</div>
{% endblock %}