{% load static %}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'home/main.css' %}">
    <title>
      {% if title %}
        {{ title }} - 
      {% endif %}
      Water Plant
    </title>
    {% block extend_head %}
    {% endblock %}
</head>
<body>
    <header class="site-header" style="background:skyblue;">
      <nav class="navbar navbar-expand-md navbar-dark bg-cloudblue" >
        <div class="container">
          <a class="navbar-brand mr-4" href="#"><div class="brand-name">Water Plant</div></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'home' %}"><span class="material-icons">home</span>Home</a>
              <a class="nav-item nav-link" href="{% url 'products-list' %}">
                <span class="material-icons">memory</span>Devices
              </a>
              <a class="nav-item nav-link" href="{% url 'about' %}">
                <span class="material-icons">contact_mail</span>About
              </a>
            </div>
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                {% if user.profile %}
                  <a class="nav-item nav-link" href="{% url 'profile' %}">
                    <span class="material-icons">person</span>Profile
                  </a>
                {% endif %}
                <a class="nav-item nav-link" href="{% url 'my_devices' %}">
                  <span class="material-icons">schema</span>My Devices
                </a>
                <a class="nav-item nav-link" href="{% url 'my_plans' %}">
                  <span class="material-icons">receipt</span>My Plans
                </a>
                <a class="nav-item nav-link" href="{% url 'water_transaction_history' %}">
                  <span class="material-icons">history</span>History
                </a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">
                  <span class="material-icons">logout</span>Logout
                </a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">
                  <span class="material-icons">login</span>Login
                </a>
                <a class="nav-item nav-link" href="{% url 'signup' %}">
                  <span class="material-icons">library_add</span>Signup
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div class="container">
      <div class="content-section">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
          {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% block extend_js %}
    {% endblock %}
</body>
</html>