{% extends 'home/base.html' %}
{% block content %}
<div style="text-align: center;">
    <h4>Response</h4>
    <div>
        <p>
            The device is offline or Network is slow.
        </p>
        <a href="{% url 'transaction' 'dispense' txn.id %}" class="btn btn-primary m-1">Try again
            <span class="material-icons">refresh</span>
        </a>
        <a href="{% url 'transaction' 'wait_in_queue' txn.id %}" class="btn btn-outline-secondary m-1">
            Wait In Queue <span class="material-icons">queue</span>
        </a>
        <a href="{% url 'transaction' 'cancel' txn.id %}" class="btn btn-danger m-1">
            Cancel Transaction <span class="material-icons">cancel</span>
        </a>
    </div>
</div>
{% endblock content %}