{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div>
    <div>
        Product Id: {{ object.product.id }}<br />
        Product Name : {{ object.product.name }}<br />
        Username : {{ object.user.username }}

    </div>
    Limit is number of liters you want to give the permission upto which the user wants to get water.
    <form method="POST">
        {{ form | crispy }}
        {% csrf_token %}
        <input type="submit" class="btn btn-success" value="Set this limit" />
    </form>
</div>
{% endblock content %}