{% extends 'home/base.html' %}
{% block content %}
    <div class="content-section">
        <!-- Product are :<br />  -->
        <table>
            <tr><th>Product</th><th>Rate</th></tr>
            {% for rate in rates %}
                <tr>
                    <td><a href="{% url 'rates-detail' rate.id %}">{{ rate.product }}</a></td>
                    <td>{{ rate.amount }}
                    {{ rate.units }} 
                    <a href="{% url 'postpaid_create' rate.product.id %}">Request Post Paid</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}